body {
  margin: 0;
  font-size: 0.975rem;
  color: #dddfeb;
  text-align: left;
  background-color: #1a1a1a;
}

p{
  margin-bottom: 0;
}

#page-title {
  font-size: large;
  padding: 15px 0px 0px 15px; /* top, right , bottom, left */
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

#line_2 {
  fill: none;
  stroke: orange;
  stroke-width: 1.5;
  /*stroke-dasharray: 1px;*/
}


#line {
  fill: none;
  stroke: #2a9fd6;
  stroke-width: 3;
}

.dot {
  fill: #7eb24c;
  stroke: #25b770;
  stroke-width: 1.5px;
}

.dot:hover {
  fill: #7eb24c;
  stroke: orangered;
  stroke-width: 1.5px;
}

/* Tooltip container */
#tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: block;
  background-color: rgba(119, 117, 117, 0.822);
  color: #fff;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 0px;
  margin-bottom: 0;
  border-style: solid;
  border-color: #dddfeb;
  border-width: 2.5px;
  border-radius: 8px;
}

#tooltip-text {
  margin: 0;
}

#card-text{
  font-size: 40;
}

#card-search{
  font-size: 14px;
  text-align: start;
}

.card-detail{
  font-weight: 600;
}
